.app {
	margin: 0;
	padding: 0;
}

.mainView {
	padding: 0px 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.title {
	height: 100px;
	margin-top: 100px;
}

.musicPlayerButton {
	margin-top: 20px;
}

.slider {
	width: 1300px;
	margin: 0 auto;
}

.button_flex {
	display: flex;
	justify-content: center;
}

.buttonStyle {
	width: 150px;
	height: 150px;
	border: 0;
	margin-right: 50px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: .3s;
}

.buttonStyle:hover {
	box-shadow: 0px 0px 10px 5px rgba(254, 254, 254, 0.8);
}

.slider_text {
	margin-top: 50px;
	margin-bottom: 30px;
}

.blank {
	height: 20px;
}

.icon_flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.img_flex {
	display: flex;
}

.img_tit {
	font-size: 50px;
	text-align: center;
}

.mode_img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	transition: .5s;
}

.img_box {
	width: 370px;
	height: 370px;
	background-color: aliceblue;
	border-radius: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.mode_img:hover {
	scale: 1.1;
}

.mode_box {
	margin-right: 150px;
	cursor: pointer;
}

.mode_box:last-child {
	margin-right: 0;
}

.test {
	height: 300px;
	text-align: center;
}

.popup {
	text-align: center;
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

.pulseAnimation {
	animation: pulse 2.5s infinite ease-in-out;
}

.main_slider {
	width: 95%;
	margin: 0 auto;
}




.bottomSliderBox {
	width: 100%;
	display: flex;
	flex-direction: column;
	position: absolute;
	bottom: 100px;
	left: 50%;
	transform: translateX(-50%);
}

.bottomTextFlex {
	padding: 0 150px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}



.volumeButton {
	width: 350px;
	height: 90px;
	font-size: 30px;
	border-radius: 20px;
	border: 0;
	transition: .3s;
	cursor: pointer;
}

.volumeButton:hover {
	box-shadow: 0px 0px 5px 5px rgba(254, 254, 254, 0.8);
}

.volume_pop {
	height: 280px;
	text-align: center;
}

.volume_tit {
	display: flex;
	justify-content: space-between;
}

.volume_close {
	width: 55px;
	height: 55px;
	border-radius: 50%;
	border: 0;
	background-color: white;
	transition: .3s;
	font-size: 30px;
	cursor: pointer;
}

.volume_close:hover {
	box-shadow: 0px 0px 5px 5px rgba(254, 254, 254, 0.7);
}

.volume_flex {
	font-size: 40px;
	display: flex;
	flex-direction: column;
}

.volume_box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.stt {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 150px;
}