.app {
	margin: 0;
	padding: 0;
}

.mainView {
	padding: 0px 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.title {
	height: 100px;
	margin-top: 100px;
}

.musicPlayerButton {
	margin-top: 20px;
}

.slider {
	width: 1300px;
	margin: 0 auto;
}

.button_flex {
	display: flex;
	justify-content: center;
}

.buttonStyle {
	width: 150px;
	height: 150px;
	border: 0;
	margin-right: 50px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: .3s;
}

.buttonStyle:hover {
	box-shadow: 0px 0px 10px 5px rgba(254, 254, 254, 0.8);
}

.slider_text {
	margin-top: 50px;
	margin-bottom: 30px;
}

.blank {
	height: 20px;
}

.icon_flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.img_flex {
	display: flex;
}

.img_tit {
	font-size: 60px;
	text-align: center;
	margin-top: 20px;
}

.mode_img {
	width: 100%;
	height: 100%;
	transition: .5s;
}

.img_box {
	width: 450px;
	height: 450px;
	border: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	border-radius: 50%;
}

.mode_img:hover {
	scale: 1.1;
}

.mode_box {
	margin-right: 150px;
	cursor: pointer;
}

.mode_box:last-child {
	margin-right: 0;
}

.test {
	height: 300px;
	text-align: center;
}

.popup {
	text-align: center;
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.07);
	}

	100% {
		transform: scale(1);
	}
}

.pulseAnimation {
	animation: pulse 2.5s infinite ease-in-out;
}

// @keyframes borderani {
// 	0% {
// 		border: 4px solid tan;
// 		border-radius: 50%;
// 	}

// 	50% {
// 		border: 4px solid steelblue;
// 		border-radius: 50%
// 	}

// 	100% {
// 		border: 4px solid palevioletred;
// 		border-radius: 50%
// 	}
// }

// .borderani {
// 	animation: borderani 2s infinite ease-in-out;
// }

.main_slider {
	width: 95%;
	margin: 0 auto;
}




.bottomSliderBox {
	width: 100%;
	display: flex;
	flex-direction: column;
	position: absolute;
	bottom: 100px;
	left: 50%;
	transform: translateX(-50%);
}

.bottomTextFlex {
	padding: 0 150px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}



.volumeButton {
	font-size: 30px;
	border-radius: 20px;
	border: 0;
	transition: .3s;
	cursor: pointer;
}

.volumeButton:hover {
	box-shadow: 0px 0px 5px 5px rgba(254, 254, 254, 0.8);
}

.volume_pop {
	height: 280px;
	text-align: center;
}

.volume_tit {
	display: flex;
	justify-content: end;
}

.volume_close {
	background-color: none;
	border: 0;
	transition: .3s;
	cursor: pointer;
	margin-top: -10px;
}



.volume_flex {
	font-size: 40px;
	display: flex;
	flex-direction: column;
}

.volume_box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.stt {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 150px;
}

.input {
	width: 500px;
	height: 100px;
}

//wave animation

.bar_cont {
	margin-top: 100px;
}

.waveformAnimation {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	margin: 0 auto;
	height: 250px;
	background: rgba(0, 0, 0, 0.1);
}

.bar {
	width: 15px;
	height: 25%;
	background: rgba(255, 255, 255, 0.8);
	animation: bounce 2s ease-in-out infinite;
	margin-right: 30px;
}

.bar:nth-child(2n) {
	animation-delay: -0.8s;
}

.bar:nth-child(3n) {
	animation-delay: -0.6s;
}

.bar:nth-child(4n) {
	animation-delay: -0.4s;
}

.bar:nth-child(5n) {
	animation-delay: -0.2s;
}

@keyframes bounce {

	0%,
	100% {
		transform: scaleY(1);
	}

	30% {
		transform: scaleY(3);
	}

	50% {
		transform: scaleY(2);
	}
}

.head_title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.head_tit {
	font-size: 80px;
}

.stt_btn {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-color: #e8e8e8;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: .3s;
	cursor: pointer;
}

.stt_btn:hover {
	box-shadow: 0px 0px 5px 5px rgba(254, 254, 254, 0.8);
}

.menu_btn {
	cursor: pointer;
}

.menu_popup {
	width: 500px;
	height: 1500px;
}

.menu_flex {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.menu_close {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 0;
}

.stt_pop {
	display: flex;
	align-items: center;

}

.stt_tit {
	text-align: center;
	letter-spacing: 10px;
	font-size: 60px;
}



///////////////////////DASHBOARD/////////////////////////////////

.chart_cont {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.chart {
	width: 1000px;
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
}